n8n-flows/calendar-flow.json
{
  "name": "E-Ink Display - Publish Calendar",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-calendar",
      "name": "When clicking 'Execute Workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 240]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"events\": [\n      {\n        \"title\": \"सब्जी मंडी जाना (All Day Groceries)\",\n        \"time\": \"Today, All Day\"\n      },\n      {\n        \"title\": \"अमित के साथ बैठक (Meeting with Amit)\",\n        \"time\": \"Tom, 09:00 - 10:00\"\n      },\n      {\n        \"title\": \"Review layout design details\",\n        \"time\": \"Mon 13, 14:00 - 15:00\"\n      }\n    ]\n  }\n];"
      },
      "id": "code-calendar-data",
      "name": "Format Calendar Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 240]
    },
    {
      "parameters": {
        "broker": "tcp://localhost:1883",
        "topic": "home/eink/calendar",
        "message": "={{ JSON.stringify($json.events) }}",
        "options": {
          "qos": 1,
          "retain": true
        }
      },
      "id": "mqtt-publish-calendar",
      "name": "MQTT Publish Calendar",
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [540, 240]
    }
  ],
  "connections": {
    "When clicking 'Execute Workflow'": {
      "main": [
        [
          {
            "node": "Format Calendar Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Calendar Array": {
      "main": [
        [
          {
            "node": "MQTT Publish Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
