n8n-flows/emails-flow.json
{
  "name": "E-Ink Display - Publish Emails",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-emails",
      "name": "When clicking 'Execute Workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 240]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "emails_data",
              "value": "[{\"sender\": \"अमित शर्मा <amit@example.com>\", \"subject\": \"मीटिंग का समय बदलाव (Meeting reschedule)\"}, {\"sender\": \"GitHub Notifications\", \"subject\": \"[PR #402] Merged: Add layout engine functionality\"}, {\"sender\": \"Tech Newsletter\", \"subject\": \"Top 10 Raspberry Pi hardware projects of 2026\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "set-emails-data",
      "name": "Set Emails Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [320, 240]
    },
    {
      "parameters": {
        "broker": "tcp://localhost:1883",
        "topic": "home/eink/emails",
        "message": "={{ $json.emails_data }}",
        "options": {
          "qos": 1,
          "retain": true
        }
      },
      "id": "mqtt-publish-emails",
      "name": "MQTT Publish Emails",
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [540, 240]
    }
  ],
  "connections": {
    "When clicking 'Execute Workflow'": {
      "main": [
        [
          {
            "node": "Set Emails Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Emails Payload": {
      "main": [
        [
          {
            "node": "MQTT Publish Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
