n8n-flows/emails-flow.json
{
  "name": "E-Ink Display - Publish Emails",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-emails",
      "name": "When clicking 'Execute Workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 240]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"emails\": [\n      {\n        \"sender\": \"अमित शर्मा <amit@example.com>\",\n        \"subject\": \"मीटिंग का समय बदलाव (Meeting reschedule)\"\n      },\n      {\n        \"sender\": \"GitHub Notifications\",\n        \"subject\": \"[PR #402] Merged: Add layout engine functionality\"\n      },\n      {\n        \"sender\": \"Tech Newsletter\",\n        \"subject\": \"Top 10 Raspberry Pi hardware projects of 2026\"\n      }\n    ]\n  }\n];"
      },
      "id": "code-emails-data",
      "name": "Format Emails Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 240]
    },
    {
      "parameters": {
        "broker": "tcp://100.101.102.4:1883",
        "topic": "home/eink/emails",
        "sendInputData": false,
        "message": "={{ JSON.stringify($json.emails) }}",
        "options": {
          "qos": 1,
          "retain": true
        }
      },
      "id": "mqtt-publish-emails",
      "name": "MQTT Publish Emails",
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [540, 240]
    }
  ],
  "connections": {
    "When clicking 'Execute Workflow'": {
      "main": [
        [
          {
            "node": "Format Emails Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Emails Array": {
      "main": [
        [
          {
            "node": "MQTT Publish Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
